name: Build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  release:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Check out code
      uses: actions/checkout@v4

    - name: Build docker image on PR
      uses: docker/build-push-action@v6.15.0
      with:
        tags: maruina/docker-grpc-health-probe:latest
        push: false
